rules_version = '3';
service cloud.firestore {
  match /databases/{database}/documents {
  	function isAdmin(){
    	return get(/databases/$(database)/users/$(request.auth.uid)).data.type == "admin";
    }
    function containsTypeField(){
    	return "type" in request.resource.data;
    }
    match /products/{product} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /users/{userId} {
    	allow read: if request.auth.uid == userId || isAdmin();
      allow update: if !containsTypeField() && request.auth.uid == userId;
      allow create: if !containsTypeField() || isAdmin();
    }
    match /orders/{order} {
    	allow create: if request.auth.uid != null;
      allow read: if (resource.data.uid == request.auth.uid) || isAdmin();
    }
    match /supportRequests/{req} {
    	allow write: if request.auth.uid != null;
      allow read: if isAdmin() || request.auth.uid == resource.data.uid;
    }
  }
}